.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__form-card {
    width: 340px;
    min-height: 450px;
    padding: 50px 30px 30px;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__input {
    margin-bottom: 16px;

    &--error {
      margin-bottom: 10px;
    }
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 14px;
  }
}

.registration__form-card {
  min-height: 615px;
}
