.button {
  padding: 12px 20px;
  border: none;
  background-color: var(--background-fill-color);
  color: var(--text-secondary-color);
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;

  &:hover, &:focus, &:focus-visible {
    opacity: 0.75;
  }

  &--primary {
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  &--link {
    background-color: transparent;
    color: var(--primary-color);
    padding: 0;
  }

  &--icon {
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 9px;

    & span {
      display: block;
      line-height: 0;
    }

    & svg {
      fill: var(--white-color);
    }
  }
}
