.feed {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 15px;

  &--empty {
    justify-content: center;
    align-items: center;

    & > p {
      color: var(--text-secondary-color);
      line-height: 12px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__contact {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  &__main {
    flex: 1;
    height: calc(100vh - 108px);
    overflow-y: auto;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__new-message {
    margin-top: 11px;

    & form {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
  
  &__input {
    flex: 1;
  }
}

.menu-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 5px 11px;
  background-color: transparent;

  .point {
    width: 3px;
    height: 3px;
    background-color: var(--text-primary-color);
    margin-bottom: 3px;

    &:nth-last-child {
      margin-bottom: 0;
    }
  }

  &:hover, &--active {
    background-color: var(--hover-grey-color);

    .point {
      background-color: var(--primary-color);
    }
  }
}

.message {
  position: relative;
  max-width: 500px;
  width: auto;
  padding: 11px;
  margin-bottom: 10px;
  background-color: var(--background-message-grey-color);
  border-radius: 12px;

  & p {
    white-space: pre-wrap;
  }

  &--own {
    background-color: var(--background-message-blue-color);
  }

  &--p0 {
    padding: 0;
    background-color: transparent;
  }
  
  &__image {
    max-width: 100%;
    border-radius: 12px;
    border: 1px solid var(--border-color);
  }

  &__time {
    float: right;
    /* margin-top: -9px; */
    font-size: 9px;
    line-height: 9px;
    color: var(--text-secondary-color);
    background-color: transparent;

    &--darkened {
      position: absolute;
      right: 11px;
      bottom: 11px;
      border-radius: 30px;
      padding: 2px 7px;
      color: var(--white-color);
      background-color: rgba(82, 82, 82, 0.5);
    }
  }
}
