.chat-item {
  width: 100%;
  height: 72px;
  padding: 12px 10px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  gap: 10px;
  cursor: pointer;

  &--selected {
    background-color: var(--background-message-blue-color);
  }

  &__avatar {
    flex-shrink: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
  }

  &__meta-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__badge {
    min-width: 20px;
    border-radius: 50%;
    background-color: var(--primary-color);
    padding: 4px;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    color: var(--white-color);
  }
}