.chats {
  width: 100vw;
  display: flex;

  &__sidebar {
    width: 25%;
    min-width: 310px;
    height: 100vh;
    background-color: var(--background-list-color);
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding: 21px 10px 14px;
    display: flex;
    flex-direction: column;
  }

  &__button-link {
    color: var(--text-secondary-color);
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 23px;
    align-self: flex-end;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__list {
    border-top: 1px solid var(--border-color);
    overflow-y: auto;
    flex: 1;
  }

  &__list--empty {
    margin: 20px 0;
    color: var(--text-secondary-color);
    font-size: 12px;
    text-align: center;
  }

  &__main {
    flex: 1;
    height: 100vh;
    min-width: 320px;
    border-left: 1px solid var(--border-color);
  }
}
